.vp-doc blockquote {
    /* border-radius: 10px; */
    padding: 18px 20px 20px 15px;
    position: relative;
    background-color: var(--vp-c-gray-soft);
    border-left: 4px solid var(--vp-c-gray-1);
}