@font-face {
    font-family: "JetBrains Mono";
    src: url("../../../docs/public/font/JetBrainsMono-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "ChillRoundGothic";
    src: url("../../../docs/public/font/ChillRoundGothic_ExtraLight.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "ChillRoundGothic";
    src: url("../../../docs/public/font/ChillRoundGothic_Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "ChillRoundGothic";
    src: url("../../../docs/public/font/ChillRoundGothic_Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


body:where(:lang(zh)) {
    font-family: "ChillRoundGothic", "Punctuation SC", "Inter", ui-sans-serif,
        system-ui, "PingFang SC", "Noto Sans CJK SC", "Noto Sans SC", "Heiti SC",
        "Microsoft YaHei", "DengXian", sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.05em;
    font-weight: 300;
}

.vp-doc p {
    line-height: 27px;
}

.is-home,
.name .text {
    font-family: "Punctuation SC", "Inter", ui-sans-serif, system-ui,
        "PingFang SC", "Noto Sans CJK SC", "Noto Sans SC", "Heiti SC",
        "Microsoft YaHei", "DengXian", sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.05em;
}

.vp-doc h1,
.vp-doc h2,
.vp-doc h3,
.vp-doc h4,
.vp-doc h5,
.vp-doc h6 {
    font-weight: 400;
}
