.vp-doc a[href^="https://www.mcmod.cn/"]:not(.m-nav-link):not(.VPSocialLink):before {
    content: '';
    background-image: url(https://www.mcmod.cn/static/public/images/favicon.ico);
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background-size: cover;
    top: -2px;
    margin-right: 4px;
}

.vp-doc a[href^="https://www.curseforge.com/"]:not(.m-nav-link):not(.VPSocialLink):before {
    content: '';
    background-image: url(https://www.curseforge.com/favicon.ico);
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background-size: cover;
    margin-right: 4px;
}

.vp-doc a[href^="https://modrinth.com/"]:not(.m-nav-link):not(.VPSocialLink):before {
    content: '';
    background-image: url(https://modrinth.com/favicon.ico);
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background-size: cover;
    margin-right: 4px;
}

.vp-doc a[href^="https://zh.minecraft.wiki/"]:not(.m-nav-link):not(.VPSocialLink):before {
    content: '';
    background-image: url(https://zh.minecraft.wiki/favicon.ico);
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background-size: cover;
    margin-right: 4px;
}

.vp-doc a[href^="https://minecraft.wiki/"]:not(.m-nav-link):not(.VPSocialLink):before {
    content: '';
    background-image: url(https://minecraft.wiki/favicon.ico);
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background-size: cover;
    margin-right: 4px;
}

.vp-doc a[href^="https://github.com/"]:not(.m-nav-link):not(.VPSocialLink):before {
    content: '';
    background-image: var(--github-bg-image);
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background-size: cover;
    margin-right: 4px;
}

.vp-doc a[href^="https://gitee.com/"]:not(.m-nav-link):not(.VPSocialLink):before {
    content: '';
    background-image: url(https://gitee.com/favicon.ico);
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background-size: cover;
    margin-right: 4px;
}

.vp-doc a[href^="https://www.bilibili.com/"]:not(.m-nav-link):not(.VPSocialLink):before {
    content: '';
    background-image: url(https://www.bilibili.com/favicon.ico);
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background-size: cover;
    margin-right: 4px;
}

.vp-doc a[href^="https://space.bilibili.com/"]:not(.m-nav-link):not(.VPSocialLink):before {
    content: '';
    background-image: url(https://www.bilibili.com/favicon.ico);
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background-size: cover;
    margin-right: 4px;
}