/* .v-theme--light {
    color-scheme: normal;
    --v-theme-background: #ffffff;
    --v-theme-background-overlay-multiplier: 1;
    --v-theme-surface: #ffffff;
    --v-theme-surface-overlay-multiplier: 1;
    --v-theme-surface-bright: #ffffff;
    --v-theme-surface-bright-overlay-multiplier: 1;
    --v-theme-surface-light: #eeeeee;
    --v-theme-surface-light-overlay-multiplier: 1;
    --v-theme-surface-variant: #424242;
    --v-theme-surface-variant-overlay-multiplier: 2;
    --v-theme-on-surface-variant: #eeeeee;
    --v-theme-primary: #1867c0;
    --v-theme-primary-overlay-multiplier: 2;
    --v-theme-primary-darken-1: #1f5592;
    --v-theme-primary-darken-1-overlay-multiplier: 2;
    --v-theme-secondary: #5cbbf6;
    --v-theme-secondary-overlay-multiplier: 1;
    --v-theme-secondary-darken-1: #01878a;
    --v-theme-secondary-darken-1-overlay-multiplier: 1;
    --v-theme-error: #b00020;
    --v-theme-error-overlay-multiplier: 2;
    --v-theme-info: #2196f3;
    --v-theme-info-overlay-multiplier: 1;
    --v-theme-success: #4caf50;
    --v-theme-success-overlay-multiplier: 1;
    --v-theme-warning: #fb8c00;
    --v-theme-warning-overlay-multiplier: 1;
    --v-theme-on-background: #000000;
    --v-theme-on-surface: #000000;
    --v-theme-on-surface-bright: #000000;
    --v-theme-on-surface-light: #000000;
    --v-theme-on-primary: #ffffff;
    --v-theme-on-primary-darken-1: #ffffff;
    --v-theme-on-secondary: #000000;
    --v-theme-on-secondary-darken-1: #ffffff;
    --v-theme-on-error: #ffffff;
    --v-theme-on-info: #ffffff;
    --v-theme-on-success: #ffffff;
    --v-theme-on-warning: #ffffff;
    --v-border-color: #000000;
    --v-border-opacity: 0.12;
    --v-high-emphasis-opacity: 0.87;
    --v-medium-emphasis-opacity: 0.6;
    --v-disabled-opacity: 0.38;
    --v-idle-opacity: 0.04;
    --v-hover-opacity: 0.04;
    --v-focus-opacity: 0.12;
    --v-selected-opacity: 0.08;
    --v-activated-opacity: 0.12;
    --v-pressed-opacity: 0.12;
    --v-dragged-opacity: 0.08;
    --v-theme-kbd: #212529;
    --v-theme-on-kbd: #ffffff;
    --v-theme-code: #f5f5f5;
    --v-theme-on-code: #000000;
} */

.root {
    color-scheme: normal;
    --v-theme-background: var(--vp-c-bg);
    --v-theme-background-overlay-multiplier: 1;
    --v-theme-surface: var(--vp-c-bg);
    --v-theme-surface-overlay-multiplier: 1;
    --v-theme-surface-bright: var(--vp-c-bg);
    --v-theme-surface-bright-overlay-multiplier: 1;
    --v-theme-surface-light: var(--vp-c-bg-alt);
    --v-theme-surface-light-overlay-multiplier: 1;
    --v-theme-surface-variant: var(--vp-c-neutral);
    --v-theme-surface-variant-overlay-multiplier: 2;
    --v-theme-on-surface-variant: var(--vp-c-bg-alt);
    --v-theme-primary: var(--vp-c-brand-1);
    --v-theme-primary-overlay-multiplier: 2;
    --v-theme-primary-darken-1: var(--vp-c-brand-2);
    --v-theme-primary-darken-1-overlay-multiplier: 2;
    --v-theme-secondary: var(--vp-c-brand-1);
    --v-theme-secondary-overlay-multiplier: 1;
    --v-theme-secondary-darken-1: var(--vp-c-green-1);
    --v-theme-secondary-darken-1-overlay-multiplier: 1;
    --v-theme-error: var(--vp-c-danger-1);
    --v-theme-error-overlay-multiplier: 2;
    --v-theme-info: var(--vp-c-brand-1);
    --v-theme-info-overlay-multiplier: 1;
    --v-theme-success: var(--vp-c-success-1);
    --v-theme-success-overlay-multiplier: 1;
    --v-theme-warning: var(--vp-c-warning-1);
    --v-theme-warning-overlay-multiplier: 1;
    --v-theme-on-background: var(--vp-c-neutral-inverse);
    --v-theme-on-surface: var(--vp-c-neutral-inverse);
    --v-theme-on-surface-bright: var(--vp-c-neutral-inverse);
    --v-theme-on-surface-light: var(--vp-c-neutral-inverse);
    --v-theme-on-primary: var(--vp-c-white);
    --v-theme-on-primary-darken-1: var(--vp-c-white);
    --v-theme-on-secondary: var(--vp-c-neutral-inverse);
    --v-theme-on-secondary-darken-1: var(--vp-c-white);
    --v-theme-on-error: var(--vp-c-white);
    --v-theme-on-info: var(--vp-c-white);
    --v-theme-on-success: var(--vp-c-white);
    --v-theme-on-warning: var(--vp-c-white);
    --v-border-color: var(--vp-c-neutral-inverse);
    --v-border-opacity: 0.12;
    --v-high-emphasis-opacity: 0.87;
    --v-medium-emphasis-opacity: 0.6;
    --v-disabled-opacity: 0.38;
    --v-idle-opacity: 0.04;
    --v-hover-opacity: 0.04;
    --v-focus-opacity: 0.12;
    --v-selected-opacity: 0.08;
    --v-activated-opacity: 0.12;
    --v-pressed-opacity: 0.12;
    --v-dragged-opacity: 0.08;
    --v-theme-kbd: var(--vp-c-gray-1);
    --v-theme-on-kbd: var(--vp-c-white);
    --v-theme-code: var(--vp-c-bg-alt);
    --v-theme-on-code: var(--vp-c-neutral-inverse);
}