/* .vitepress/theme/style/vp-code-group.css */

:root {
    --code-border-color: #e9ecef;
    --tab-active-color: #007bff;
    --tab-hover-color: #51565a;
    --code-text-color: #7f868d;
}

.vp-code-group {
    background-color: var(--code-bg-color);
    border: 1px solid var(--code-bg-color);
    border-radius: 6px;
    overflow: hidden;
    margin: 1.5em 0;
    box-shadow: 0 5px 20px 0 rgb(0 0 0 / 40%);
    border-top: 1px solid var(--code-group-border-color);
}

.vp-code-group div[class*="language-"].vp-adaptive-theme.line-numbers-mode {
    border-radius: 8px;
    box-shadow: none;
    position: relative;
}

.vp-code-group .tabs {
    display: flex;
    background-color: var(--code-bg-color);
    padding: 0.5em 1em;
    margin: 0;
    /* border: 1.6px solid var(--code-group-border-color); */
}

.vp-code-group .tabs label {
    cursor: pointer;
    padding: 0.5em 1em;
    margin-right: 0.5em;
    font-size: 0.9em;
    color: var(--code-text-color);
    border-bottom: 3px solid transparent;
    transition: all 0.2s ease;
}

.vp-code-group .tabs label:hover {
    color: var(--tab-hover-color);
}

.vp-code-group .tabs label.active {
    color: var(--tab-active-color);
    border-bottom-color: var(--tab-active-color);
}

.vp-doc [class*='language-'] code {
    font-size: 0.825em;
}

code {
    font-family: "JetBrains Mono", Courier, monospace;
}

.vp-doc :not(pre, h1, h2, h3, h4, h5, h6) > code {
    font-size: 0.825em;
    margin-right: 2px;
    margin-left: 2px;
}